<a href="https://colab.research.google.com/github/rincyraj/Pyspark/blob/main/spark_dataframe_creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

spark = SparkSession.builder.appName("TestPySpark").getOrCreate()
print(spark.version)  # Should match your installed Spark version
rincy = spark.getActiveSession()
print(rincy)

# Create sample data as list of lists
data = [
    ["E001", "D001", "Alice", "30", "Female", "60000", "2015-06-23"],
    ["E002", "D002", "Bob", "35", "Male", "75000", "2012-09-17"],
    ["E003", "D001", "Charlie", "28", "Male", "55000", "2018-01-10"],
    ["E004", "D003", "David", "40", "Male", "90000", "2010-12-01"],
    ["E005", "D002", "Emma", "32", "Female", "72000", "2016-04-15"],
    ["E006", "D004", "Frank", "29", "Male", "58000", "2019-03-11"],
    ["E007", "D001", "Grace", "27", "Female", "62000", "2020-07-19"],
    ["E008", "D003", "Hank", "45", "Male", "95000", "2009-05-21"],
    ["E009", "D002", "Ivy", "33", "Female", "71000", "2017-09-30"],
    ["E010", "D004", "Jack", "38", "Male", "78000", "2014-02-12"],
    ["E011", "D001", "Karen", "26", "Female", "54000", "2021-11-05"],
    ["E012", "D003", "Leo", "41", "Male", "88000", "2011-08-14"],
    ["E013", "D002", "Mia", "34", "Female", "73000", "2015-10-22"],
    ["E014", "D004", "Nina", "30", "Female", "61000", "2018-06-08"],
    ["E015", "D001", "Oscar", "29", "Male", "57000", "2019-12-04"],
    ["E016", "D003", "Paul", "37", "Male", "82000", "2013-03-29"],
    ["E017", "D002", "Quinn", "31", "Female", "69000", "2016-07-17"],
    ["E018", "D004", "Rachel", "28", "Female", "64000", "2019-05-25"],
    ["E019", "D001", "Steve", "42", "Male", "89000", "2010-10-11"],
    ["E020", "D003", "Tina", "39", "Female", "86000", "2012-04-06"]
]
emp_schema = StructType([
    StructField("employee_id", StringType(), True),
    StructField("department_id", StringType(), True),
    StructField("name", StringType(), True),
    StructField("age", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("salary", StringType(), True),
    StructField("hire_date", StringType(), True)
])
df = spark.createDataFrame(data, schema=emp_schema)
df.show()
df.rdd.getNumPartitions()
# Create another  df with salary greter than 70000. Method 1
df_high_salary = df.filter(df.salary > 70000)
df_high_salary.show()
#until we call an action, spark won't perform (lazy evaluation) Method2
df_high_sal1 = df.where("salary>70000")
df_high_sal1.show()

3.5.4
<pyspark.sql.session.SparkSession object at 0x7aa3681e12d0>

# New section